:root{
    --webTable-border: 1px solid black;
}

.webTable > tr > td, 
.webTable > tr > th {
    border-left: var(--webTable-border);
    border-bottom: var(--webTable-border);
    margin: 0px;
    padding: 10px;
    overflow: hidden;   
}

.webTable > tr > th {
    background-color: rgb(255, 233, 159);
}

.webTable > tr > .totalCell {
    background-color: rgb(240, 229, 192);
    font-weight: bold;
    font-style: italic;
}

.webTable > tr {
    background-color: white;
}

.evenRow{
    background-color: rgb(255, 255, 234) !important;
}

.webTableOrderSelectingBtns{
    position: absolute;
    top: 7px;
    right: 10px;
    opacity: 0.3;
}

.webTableOrderSelectingBtns_inuse{
    opacity: 1.0;
}
.webTableOrderSelectingBtns_inuse:hover{
    opacity: 1.0 !important;
}

.webTableOrderSelectingBtnsSecond{
    right: 35px;
}


.webTableOrderSelectingBtns:hover{
    opacity: 0.6;
}

.webTable{
    border-spacing: 0px;
    border-top: var(--webTable-border);
    border-right: var(--webTable-border);
    table-layout: fixed;
    width: calc(100%);
    overflow: hidden;
}

.webTableWrapper{
    width: 100%;
}

.WebTable_functionButtonsWrapper{
    padding: 10px;
    position: relative;
    left: -15px;
    padding-top: 0px;
    
}

.WebTable_functionButtonsWrapper>.WebTable_functionButton{
    width: fit-content;
    float: left;
    padding: 10px;
    margin: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    background-color: rgb(253, 244, 215);
}

.WebTable_functionButtonsWrapper>.WebTable_functionButton:hover{
    background-color: rgb(243, 227, 174);
}

.WebTable_functionButtonsWrapper>.WebTable_functionButton>span{
    position: relative;
    top: -5px;
}

.WebTable_functionButtonsWrapper>.WebTable_functionButton>span>svg
{
    position: relative;
    top: 8px;
    width: 16px;
}