:root{
    --webTable-border: 1px solid black;
}

.webTable > tr > td, 
.webTable > tr > th {
    border-left: var(--webTable-border);
    border-bottom: var(--webTable-border);
    margin: 0px;
    padding: 10px;
    overflow: hidden;   
}

.webTable > tr > th {
    overflow: visible;
    background-color: rgb(255, 233, 159);
    
}

.webTable > tr > .totalCell {
    background-color: rgb(240, 229, 192);
    font-weight: bold;
    font-style: italic;
}

.webTable > tr {
    background-color: white;
}

.evenRow{
    background-color: rgb(255, 255, 234) !important;
}

.active_tr{
    background-color: rgb(248, 212, 212) !important;
}

.webTableOrderSelectingBtns{
    position: absolute;
    top: 7px;
    right: 10px;
    opacity: 0.3;
}

.webTableOrderSelectingBtns_inuse{
    opacity: 1.0;
}
.webTableOrderSelectingBtns_inuse:hover{
    opacity: 1.0 !important;
}

.webTableOrderSelectingBtnsSecond{
    right: 35px;
}


.webTableOrderSelectingBtns:hover{
    opacity: 0.6;
}

.webTable{
    border-spacing: 0px;
    border-top: var(--webTable-border);
    border-right: var(--webTable-border);
    table-layout: fixed;
    width: calc(100%);
}

.webTableWrapper{
    width: 100%;
}

.WebTable_functionButtonsWrapper{
    padding: 10px;
    position: relative;
    left: -15px;
    padding-top: 0px;
    
}

.WebTable_functionButtonsWrapper>.WebTable_functionButton{
    width: fit-content;
    float: left;
    padding: 10px;
    margin: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    background-color: rgb(253, 244, 215);
}

.WebTable_functionButtonsWrapper>.WebTable_functionButton:hover{
    background-color: rgb(243, 227, 174);
}

.WebTable_functionButtonsWrapper>.WebTable_functionButton>span{
    position: relative;
    top: -5px;
}

.WebTable_functionButtonsWrapper>.WebTable_functionButton>span>svg
{
    position: relative;
    top: 8px;
    width: 16px;
}

.WebTable_stringEditBtnsWrapper{
    padding: 10px;
    position: relative;
    left: -15px;
    padding-top: 0px;
}

.WebTable_stringEditBtnsWrapper>.WebTable_stringEditBtn{
    width: fit-content;
    float: left;
    padding: 7px;
    margin: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    height: 32px;
}

.WebTable_stringEditBtnsWrapper>.WebTable_stringEditBtn:hover{
    background-color: rgb(255, 233, 159);
}

.WebTable_stringEditBtnsWrapper>.WebTable_stringEditBtn>svg
{
    position: relative;
    top: 4px;
}


/*
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
                FILTER POPUP
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
*/

:root{
    --var_filter_form_width: 170px;
}

.WebTable-filter_poup{
    background-color: white;
    position: absolute;
    right: 10px;
    width: var(--var_filter_form_width);
    border-radius: 4px;
    box-shadow: 0 0 10px black;
    text-align: left;
    padding: 20px 10px;
}

.WebTable-filter_poup-value{
    padding: 5px;
    border: solid 1px rgb(114, 114, 114);
    margin-top: 10px;
    border-radius: 3px;
    
}

.WebTable-filter_poup-btn-ok{
    /* background-color: rgb(78, 204, 78); */
    border: solid 2px rgb(78, 204, 78); 
    float: left;
}

.WebTable-filter_poup-btn-ok:hover{
    background-color: rgba(78, 204, 78, 0.5);
}

.WebTable-filter_poup-btn-cancel{
    /* background-color: rgb(202, 75, 75); */
    border: solid 2px rgb(202, 75, 75);
    float: right;
}

.WebTable-filter_poup-btn-cancel:hover{
    background-color: rgba(202, 75, 75, 0.5);
}

.WebTable-filter_poup-btn{
    width: calc(var(--var_filter_form_width)/2 - 8px);
    padding: 10px 0;
    margin-top: 15px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}